<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <title>GREAT TEST TASK :)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="party">

    {%if process.env.NODE_ENV=='production'%}
    <link rel="stylesheet" href="/build/css/dist.min.css" />
    {%else%}
    {% for file in assets.main.css %}
    <link rel="stylesheet" href="{{file}}" />
    {% endfor %}

    {% endif %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h2>Hello {{username}}!</h2>
        </div>
    </div>
</nav>
<section class="content">
    <section class="container">
        <div class="main-container">
            <section data-ng-view />
        </div>
    </section>

    <script type="text/javascript" src='/socket.io/socket.io.js'></script>

    {%if process.env.NODE_ENV=='production'%}
    <script type="text/javascript" src="/build/js/dist.min.js"></script>
    {%else%}
    {% for file in assets.main.js %}
        <script type="text/javascript" src="{{file}}"></script>
    {% endfor %}
    {% endif %}
    <script type="text/javascript" src="/bower_components/angular-socket-io/socket.js"></script>
</section>
</body>
</html>
